 /* Mission Section Styles */

 .welcome {
    background-color: hsl(13, 42%, 70%);
    padding: 5% 10%;
    margin-bottom: 5%;
    color: #FFF;
}
 
 /* Team Section Styles */
 .team {
    margin-bottom: 5%;
    padding: 0 5%;
 }

.team .container {
    align-items: stretch;
    text-align: center;
}

.team .info-container {
    width: 20%;
    min-width: 100px;
    margin: 1% 5%;
}

.team .image-container {
    border-radius: 50%;
    border: 2px solid hsl(13, 42%, 50%);
}